nav {
    color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#cuerpo-pag {
    background-color: #404b69;
    
    color: white;
    
}

h2 {
    padding-bottom: 10px;
}

body {
    line-height: 2;
}

.btn {
    margin: auto;
}

.col {
    padding: 10px;
    
}

