body {
    margin: 0px;
    font-size: 1.5em;
    padding: 0px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #02475e;
    
}

.proyecto {
    text-align: left;
}

.container {
    margin-top: 20px;
    

    border-radius: 12px;
    background-color: #68876b;
}

.container-otro {
    background-color: #495f4b;
}

h2 {
    border-radius: 12px;
    background-color: #02475e;
    text-align: center;
    font-size: 2em;
    color: #b6bb54;
    margin: 20px 5px 20px 5px;
    
}

h3 {
    margin-top: 10px;
}
.oculto {
    display: none;
}
.navegacion {
    background-color: #687980;
    font-size: 1em;
    cursor: pointer;
    
}

p {
    margin: 3% 3% 3% 0px;
    
    text-align: center;
}

.proyecto {
    margin-top: 20px;
    margin-bottom: 20px;
}

.notas {
    color: black;
    font-size: 0.8em;
    font-style: italic;
}

img {
    padding-top: 20px;
    
        width: 100%;
        height: auto;
        max-width: 100%;
    
}
hr {
    margin: 10px 20% 0 20%;
}

nav a{
    font-size: 2.2em;
    color: inherit; 
    text-decoration: inherit; 
    
}

a {
    
    color: #b6bb54;
    text-decoration: inherit; 
    
}

