*, *::before, *::after {
    box-sizing: border-box;
}

.projects-section {
    width: 700px;
    margin: auto;
}
#container {
    width: 700px;
    margin: auto;
}

iframe {
    
}

/* section {
    #about-me {
        width: 700px;
        margin: auto;
    }
} */
body {
    background-color: #082032;
    color: b8bed6;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    transition: all .2ms;
    
}

nav {
    background-color: #2C394B;
    display: flex;
    flex-flow: row;
    text-align: center;
    font-size: 1.5em;
    justify-content: end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0 10px;
    
    
}

nav a{
    width: 120px;
    margin: 0 20px;
    color: #b8bed6;
    text-decoration: none;
}

img {
    width: 150px;
    border-radius: 100px;
    margin: 100px 0 50px
}

h2 {
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.5;
    color: #daddeb;
}

button {
    border-radius: 10px;
    height: 50px;
    background-color: #d8d1e0;
}

button:hover {
    background-color: #8f8996;
    color: white;
}

hr {
    border-top: 5px;
    position: relative;
    z-index: -1;
}

.hidden {
    display: none;
}

.project {
    width: 650px;
    background-color: #d8d1e0;
    color: black;
    /* width: 90vw; */
    margin: 10px auto 20px;
    padding: 10px 0 10px;
    border-radius: 10px;
}

.project-list {
    margin: auto;
}

.project img {
    width: 70%;
    margin-bottom: 10px;
    border-radius: 12px;
}

h3 {
    text-transform: uppercase;
    margin-top: 10px;
}

.project button {
    margin-bottom: 10px;
}

#contact {
    margin: 10px 0 10px;
}

#contact button a {
    height: 30px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
@media (max-width: 768px) {
    nav {
        height: 50px;
        justify-content: space-around;
        align-items: center;
        font-size: 1.2em;
    }
    nav a {
        width: 30vw;
    }

    #container {
        margin-top: 50px;
    }

    #profile-pic {
        width: 100px;
        border-radius: 50px;
        margin-bottom: 20px;
    }

    .projects {
        display: flex;
        flex-flow: row wrap;
    }

    

    .project-button {
        flex: 50%;
    }

    
}
